<nav class="pagination" role="navigation">
	{{if .HasPrev}}
	    <a class="newer-posts" href="{{ .Prev.URL }}">&larr; {{T "Previous-Pages"}}</a>
	{{end}}
	{{if .HasNext}}
	    <a class="older-posts" href="{{ .Next.URL }}">{{T "Next-Pages"}} &rarr;</a>
	{{end}}
</nav>
