
:root{
    --SIDE-MAIN-color:RGB(255,255,255);
    --SIDE-MAIN-TXT-color:black;
    --MAIN-HOVER-color:#505050;
    --SIDE-FOCUS-BACK-color:#707070;
    --SIDE-FOCUS-FORE-color:black;
    --MENU-LINK-color:black;
    --MENU-ACTIVE-BACK-color:#505050;
    --MENU-ACTIVE-LINK-color:white;

}
#sidebar ul li.visited > a .read-icon {
	color: var(--SIDE-MAIN-color);
}
a:hover {
    color: var(--MAIN-HOVER-color);
}
#body a.highlight:after {
    background-color: var(--MAIN-HOVER-color);
}
#sidebar {
	background-color: var(--SIDE-MAIN-color);
}
#sidebar #header-wrapper {
    background: var(--SIDE-MAIN-color);
    color: var(--BF-color)
    border-color: var(--SIDE-FOCUS-BACK-color);
}
#sidebar .searchbox {
	border-color: var(--BF-color);
    background: var(--SIDE-FOCUS-BACK-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--SIDE-FOCUS-BACK-color);
}
#sidebar .searchbox * {
    color: var(--SIDE-FOCUS-FORE-color);
}
#sidebar a , #sidebar a:hover {
    color: var(--MENU-LINK-color);
}
#sidebar .parent li, #sidebar .active li {
    border-color: var(--MENU-ACTIVE-LINK-color);
}
#sidebar ul li.active > a {
    background: var(--MENU-ACTIVE-BACK-color);
    color: var(--MENU-ACTIVE-LINK-color) !important;
}
#sidebar ul li .category-icon {
	color: var(--MENU-LINK-color);
}
#sidebar #shortcuts h3 {
    color: var(--SIDE-MAIN-TXT-color);
}

.footline {
	border-color: var(--SIDE-FOCUS-BACK-color);
}
