<header>
  <div class="logo">
    {{ partial "header.html" . }}
  </div>
  <div class="burger"><a href="javascript:void(0);" style="font-size:15px;">&#9776;</a></div>
  {{- with .Site.Menus.shortcuts}}
    <section id="shortcuts">
        {{- range sort . "Weight"}}
            <li class="" role="">
                <a href="{{.URL}}" rel="noopener">{{safeHTML .Name}}</a>
            </li>
        {{- end}}
    </section>
  {{- end}}
</header>
<section class="main hbox space-between">
  <nav>
    <ul class="topics">
      {{- if not .Site.Params.disableHomeIcon}}
          <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
          <a href="{{"/" | relLangURL}}">
            <i class="fa fa-fw fa-home"></i>
          </a>
          </li>
      {{- end}}

      {{- partial "menu.html" . }}

    </ul>

    {{- partial "language-selector.html" . }}

    <section class="footer">
        {{- partial "menu-footer.html" . }}
    </section>
  </nav>
  <section class="page">
    <section id="nav-select">
      <center>Navigation :
            <select onchange="javascript:location.href = this.value;">
              {{partial "flex/selectnavigation.html" .}}
            </select></center>
    </section>
    <aside>
      {{- if not .Site.Params.disableSearch}}
        <div class="searchbox">
          <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
          <span data-search-clear=""><i class="fa fa-close"></i></span>
        </div>
        <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
        <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
        <script type="text/javascript">
          {{ if .Site.IsMultiLingual }}
              var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
          {{ else }}
              var baseurl = "{{.Site.BaseURL}}";
          {{ end }}
        </script>
        <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
      {{- end}}
    </aside>
    <article>
    {{if not .IsHome}}<h1>{{.Title}}</h1>{{end}}
